.hero-image-textbox {
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
    padding-bottom: 20px;
}

.hero-image-textbox-small {
    margin-top: 20px;
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
    padding-top: 10px;
}

.navbar-brand span {
    color: #f05a1d;
}

.navbar-brand img {
    float: left;
    position: relative;
    bottom: 6px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.auto-wrap {
    white-space: pre;
}

.profile-small {
    width: 150px;
    height: 150px;
    background-size: auto 150px;
}

.profile-small-placeholder {
    width: 150px;
    height: 150px;
}

#adam-profile {
    background-image: url('../images/headshots/adam.jpg');
    background-position: 60%;
}

#trevor-profile {
    background-size: auto 250px;
    background-image: url('../images/headshots/trevor.jpg');
    background-position: 52% 0%;
}

#pablo-profile {
    background-image: url('../images/headshots/pablo.jpg');
    background-position: 65% 20%;
    background-size: auto 200px;
}

#sushi-profile {
    background-size: auto 200px;
    background-image: url('../images/headshots/sushi.jpg');
    background-position: 58% 0%;
}

#matt-profile {
    background-size: auto 200px;
    background-image: url('../images/headshots/matt.jpg');
    background-position: 50% 0%;
}

.profile-placeholder-bg {
    padding: 27px;
    background: linear-gradient(#DEDEDC, #DBDBD9, #D5D5D3, #B0B2B1);
}

.profile-placeholder {
    margin: 0 auto 0;
    border-radius: 20px 0 20px 0;
    background-color: #fff;
}

@media (min-width: 992px) {
    .md-text-right {
        text-align: right;
    }

    .careers footer, .contact footer {
        position: absolute !important;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

@media (max-width: 991px) {
    .sm-text-center{
        text-align: center;
    }
}
